include *.md requirements*.txt
recursive-include mlearn *.py *.json *.yaml *.md *.mtp
recursive-include mvl_models * 
recursive-include mlearn/potentials/lammps in.* *.template
recursive-include mlearn/potentials/params *.json *.mtp
